
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color:#fff;
    background-color: #212A3E;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}



a {
    text-decoration: none;
    color: #fff;
}
#title {
    background: url(images/night_sky.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 900px;
    padding-left: 20px;
}


a.icon {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-top: 50px;
    font-size: 1.24rem;
    overflow: hidden;
    position: relative;
}


nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 0 30px;
}

nav ul li a {
    padding: 5px;
}


.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
}




nav ul li a:active,
nav ul li a:hover {
    background: #fff;
    color: #2b1055;
    border-radius: 10%;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
    height: 60vh;
    color: #fff;
    text-transform: uppercase;
}




.intro > h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: normal;
}


/* About Section */

#about {
    padding-top: 150px;
}
.about-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-img {
    height: 130px;
    width: 130px;
    margin-top: 100px;
}

.about-page > p {
    width: 600px;
    font-size: 19px;
    color: white;
    margin-top: 20px;
    line-height: 2;
    text-align: center;
}
.about-page > h2 {
    color: white;
    margin-top: 20px;
    text-align: center;
}


/* Skill Section */
#skills{
    text-align: center;
    margin-top: 300px;
    padding: 100px;
    background-color:#394867; 
}


.skill-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#skills h2 {
    margin-bottom: 50px;
}

.skill-section img {
    width: 100px;
    margin: 0 auto;
}


#projects {
    text-align: center;
    padding-top: 150px;
    padding: 100px;
}

#projects h2 {
    margin-top: 90px;
}


.project-section img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    margin-top: 70px;
}

.project-section img:hover {
    border: 2px solid #fff;
}



/* Contact Form */
#contact {
    text-align: center;
    padding-top: 150px;
    padding: 100px;
    background-color:#394867; 
}

#contact h2{
    margin-top: 90px;
}

#contact h2, #contact p, #contact a {
    padding: 10px;
}

footer {
    background-color: #9DB2BF;
    text-align: center;
    /* color: #212A3E; */
}

footer a {
   padding: 30px;
   /* color: #212A3E; */
}

footer p {
    margin-top: 20px;
}


@media screen and (min-width:769px) {
    .container .links {
        display: flex !important;
      } 
}


@media screen and (max-width:768px) {
    .container .links {
        display: none;
      }

      .intro {
        margin-top: 250px;
      }

      .intro h1 {
        font-size: 40px;
      }
      
      .links li {
        margin-top: 30px;
        padding: 20px;
  
      }
      .links {
        flex-direction: column;
        background: #212A3E;
      }

      .about-page > p {
        width: fit-content;
        font-size: 14px;
        text-align: center;
        line-height: 2;
      }

      .intro {
        height: 30vh;
      }

      .skill-section {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
      }

      .projects {
        width: 100%;
      }

      .project-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        width: 100%;
      }
      .project-section img {
        width: 160px;
      }
     
      a.icon {
        display: block;
        position: absolute;
        right: 50px;
        top: 50px;
      }
}

@media screen and (max-width:375px) {
    .project-section img {
        width: 150px;
      }
}





